* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: #10141f;
  color: white;
  font-family: "Verdana", sans-serif;
  display: flex;
}

nav {
  background-color: #161d2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5.5rem;
  height: calc(100vh - 4rem);
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: sticky;
  top: 2rem;
}

nav > div {
  font-size: 1.25rem;
}

.nav-logo {
  margin-bottom: 3rem;
}

.nav-logo a {
  color: hsl(0, 99%, 64%);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-logo a:hover {
  color: hsl(0, 99%, 58%);
}

.nav-items {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #5a6c93;
}

.nav-items > a {
  color: #5a6c93;
}

.nav-items a:hover {
  color: #fff;
}

.nav-items a > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.logout {
  color: red;
}

.signup {
  color: green;
}

.nav-user a > svg {
  width: 2rem;
  height: 2rem;
}

main {
  flex: 1;
  padding-top: 0.5rem;
  margin-right: 2rem;
}

.search-bar {
  margin-block: 2rem;
  display: flex;
  align-items: center;
}

.search-bar > svg {
  width: 2rem;
  height: 2rem;
}

.search-bar > input {
  margin-inline: 1rem;
  background-color: #10141f;
  border: none;
  font-size: 1rem;
  padding: 0.25rem;
  color: white;
  flex: 1;
}
.search-bar > input::placeholder {
  color: #aaa;
  font-family: "Verdana", sans-serif;
}

#photosForm {
  display: contents;
}

#photosForm > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0.5rem;
  background-color: #10141f;
}

#photosForm > header > button {
  appearance: none;
  cursor: pointer;
  background-color: hsl(0, 99%, 64%);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.no-results {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.photosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.photo {
  width: 200px;
  height: 125px;
  position: relative;
}

.photo::before {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.5;
  inset: 0;
  pointer-events: none;
  border-radius: 0.5rem;
}

.photo input[type="checkbox"] {
  display: none;
}

.photo img {
  border-radius: 0.5rem;
}

.description,
.favourite,
.privateIcon,
.favouriteLabel {
  position: absolute;
}

.description {
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.privateIcon {
  width: 1.25rem;
  height: 1.25rem;
  top: 0.5rem;
  left: 0.5rem;
}

.favouriteLabel {
  width: 1.25rem;
  height: 1.25rem;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
}

.solid-star {
  display: none;
}

input[type="checkbox"]:checked + .favouriteLabel > .solid-star {
  display: block;
}
input[type="checkbox"]:checked:disabled + .favouriteLabel > .solid-star {
  display: block;
  color: hsl(0, 99%, 64%);
}

input[type="checkbox"]:checked + .favouriteLabel > .outline-star {
  display: none;
}

footer {
  margin-top: 1rem;
  text-align: right;
}

footer span {
  color: #777;
  cursor: default;
}

footer a {
  color: white;
}

.page {
  color: #fff;
  font-weight: bold;
  padding-inline: 0.5rem;
}
